<!DOCTYPE html>
<html>
<head>
  <!-- set the encoding of your site -->
  <meta charset="utf-8">
  <!-- set the viewport width and initial-scale on mobile devices  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlatironSchool.com</title>
  <!-- include the site stylesheet -->
  <link media="all" rel="stylesheet" href="css/all.css">
</head>
<body>
  <!-- main container of all the page elements -->
  <div id="wrapper">
    <div class="language-slide">
      <a href="#" class="language-opener close"><span class="icon-cross"></span></a>
      <div class="holder">
        <strong class="title">Select a city</strong>
        <ul>
          <li class="active"><a href="#">New York city</a></li>
          <li><a href="#">Austin</a></li>
          <li><a href="#">Chicago</a></li>
          <li><a href="#">Boston</a></li>
          <li><a href="#">Philadelphia</a></li>
          <li><a href="#">London</a></li>
          <li><a href="#">San Francisco</a></li>
          <li><a href="#">Miami</a></li>
          <li><a href="#">Los Angeles</a></li>
        </ul>
        <span>Don't see your loaction? <a href="#">Suggest a new city</a></span>
      </div>
    </div>
    <div class="w1">
      <!-- header of the page -->
      <header id="header">
        <a href="#" class="opener"><span>Opener</span></a>
        <div class="nav-slide">
          <!-- main navigation of the page -->
          <nav id="nav">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Get Involved</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Adult Programs</a></li>
            </ul>
          </nav>
          <div class="header-r">
            <nav class="anchor-nav">
              <ul>
                <li><a href="#course-block">Courses</a></li>
                <li><a href="#instructor-block">Instructors</a></li>
                <li><a href="#review-block">Reviews</a></li>
                <li><a href="#partner-block">Request Info</a></li>
              </ul>
            </nav>
            <a href="#" class="location language-opener"><span class="icon-location"></span> New York City</a>
          </div>
        </div>
      </header>
      <!-- banner of the page -->
      <div class="banner">
        <div class="image-holder">
          <span data-picture data-alt="image description">
            <span data-src="images/img01.jpg" ></span>
            <span data-src="images/img01-small.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
            <span data-src="images/img01-small@2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
            <!--[if (lt IE 9) & (!IEMobile)]>
              <span data-src="images/img01.jpg"></span>
            <![endif]-->
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript><img src="images/img01.jpg" width="1600" height="977" alt="image description" ></noscript>
          </span>
          <!-- page logo -->
          <strong class="logo"><a href="#"><img src="images/logo.png" height="97" width="196" alt="FLATIRON SCHOOL"></a></strong>
          <div class="banner-content">
            <div class="frame">
              <div class="holder">
                <div class="wrap">
                  <strong class="page-title">PRE-COLLEGE ACADEMY</strong>
                  <h1>Make Code Your Superpower</h1>
                  <p>Learn web development, design, and entrepreneurship in the heart of ‘Silicon Alley’ at Flatiron Pre-College Academy.</p>
                  <a class="lightbox iframe btn-video" href="//player.vimeo.com/video/104851531?autoplay=true">Watch Video</a>
                </div>

              </div>
              <div class="browse-area">
                <a href="#" class="browse-course"><span class="icon-arrow-down"></span> Browse Courses in <strong class="hide">new york city</strong> <em>NYC</em></a>
                <a href="#" class="change-city language-opener">Change City</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- intro block -->
      <section class="intro-block">
        <div class="holder">
          <h1>Introduction</h1>
          <p>At Flatiron Pre-College Academy, high school students learn the same programming skills professional developers use to build today’s most popular apps and websites. Our courses challenge students and inspire creativity through hard work and passion.</p>
        </div>
      </section>
      <!-- course block -->
      <section id="course-block">
        <div class="course-t">
          <div class="holder">
            <h1>Courses In New York City</h1>
            <p>Courses and workshops are held at our Manhattan Campus. Get in touch to bring Flatiron Pre-College courses and workshops to your school.</p>
          </div>
        </div>
        <div class="browse-area">
          <div class="area-wrap">
            <a href="#" class="browse-course">You're browsing in new york city</a>
            <a href="#" class="change-city language-opener"><em>Change City</em></a>
          </div>
        </div>
        <div class="course-type-holder">
          <div class="course-type">
            <div class="holder">
              <div class="course-wrap">
                <span data-picture data-alt="image description">
                  <span data-src="images/ico-bag.png" ></span>
                  <span data-src="images/ico-bag-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                  <span data-src="images/ico-bag-small@2x.png" data-width="42" data-height="58" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                  <!--[if (lt IE 9) & (!IEMobile)]>
                    <span data-src="images/ico-bag.png.jpg"></span>
                  <![endif]-->
                  <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                  <noscript><img src="images/ico-bag.png" width="63" height="88" alt="image description" ></noscript>
                </span>
                <h2>School Year Courses</h2>
                <p>Spring courses range from two to eight weeks long and meet after school and on weekends.</p>
              </div>
              <div class="carousel">
                <header class="topic">
                  <strong class="title">Upcoming Spring Courses</strong>
                  <a href="#" class="hide">See All ></a>
                </header>
                <div class="mask">
                  <div class="slideset">
                    <div class="slide">
                      <a href="#" class="course-detail">
                        <span class="course-duration">2 Weeks / Course</span>
                        <h3>Beginner Software Engineering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <div class="time-wrap">
                          <time datetime="2014-08-03">Mon Aug 3</time> — <time datetime="2014-08-14">Fri Aug 14</time>
                        </div>
                        <em>Manhatten Campus</em>
                      </a>
                    </div>
                    <div class="slide">
                      <a href="#" class="course-detail">
                        <span class="course-duration">8 Weeks / Certificate</span>
                        <h3>Advanced Software Engineering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <div class="time-wrap">
                          <time datetime="2014-08-03">Mon Aug 3</time> — <time datetime="2014-08-14">Fri Aug 14</time>
                        </div>
                        <em>Dalton School</em>
                      </a>
                    </div>
                    <div class="slide">
                      <a href="#" class="course-detail">
                        <span class="course-duration">2 Weeks / Course</span>
                        <h3>Introduction to Web Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <div class="time-wrap">
                          <time datetime="2014-08-03">Mon Aug 3</time> — <time datetime="2014-08-14">Fri Aug 14</time>
                        </div>
                        <em>Greenwich Academy</em>
                      </a>
                    </div>
                  </div>
                </div>
                <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                </ul>
                <footer class="course-footer">
                  <a href="#" class="btn-browse">Browse all school year courses</a>
                </footer>
              </div>
            </div>
          </div>
          <div class="course-type summer">
            <div class="holder">
              <div class="course-wrap">
                <span data-picture data-alt="image description">
                  <span data-src="images/ico-sun.png" ></span>
                  <span data-src="images/ico-sun-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                  <span data-src="images/ico-sun-small@2x.png" data-width="58" data-height="58" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                  <!--[if (lt IE 9) & (!IEMobile)]>
                    <span data-src="images/ico-sun.png.jpg"></span>
                  <![endif]-->
                  <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                  <noscript><img src="images/ico-sun.png" width="85" height="85" alt="image description" ></noscript>
                </span>
                <h2>Summer Courses</h2>
                <p>Our full-time summer courses are two to eight weeks long and explore topics in depth. Students can take one two-week course or combine courses into a certificate track.</p>
              </div>
              <div class="carousel">
                <header class="topic">
                  <strong class="title">Upcoming Spring Courses</strong>
                  <a href="#" class="hide">See All ></a>
                </header>
                <div class="mask">
                  <div class="slideset">
                    <div class="slide">
                      <a href="#" class="course-detail">
                        <span class="course-duration">2 Weeks / Course</span>
                        <h3>Introduction to Web Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <div class="time-wrap">
                          <time datetime="2014-08-03">Mon Aug 3</time> — <time datetime="2014-08-14">Fri Aug 14</time>
                        </div>
                        <em>Dalton School</em>
                      </a>
                    </div>
                    <div class="slide">
                      <a href="#" class="course-detail">
                        <span class="course-duration">8 Weeks / Certificate</span>
                        <h3>Beginner Software Engineering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <div class="time-wrap">
                          <time datetime="2014-08-03">Mon Aug 3</time> — <time datetime="2014-08-14">Fri Aug 14</time>
                        </div>
                        <em>Dalton School</em>
                      </a>
                    </div>
                    <div class="slide">
                      <a href="#" class="course-detail">
                        <span class="course-duration">2 Weeks / Course</span>
                        <h3>Advanced Software Engineering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <div class="time-wrap">
                          <time datetime="2014-08-03">Mon Aug 3</time> — <time datetime="2014-08-14">Fri Aug 14</time>
                        </div>
                        <em>Greenwich Academy</em>
                      </a>
                    </div>
                  </div>
                </div>
                <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                </ul>
                <footer class="course-footer">
                  <a href="#" class="btn-browse">Browse all summer courses</a>
                </footer>
              </div>
            </div>
          </div>
          <div class="course-type workshop">
            <div class="holder">
              <div class="course-wrap">
                <span data-picture data-alt="image description">
                  <span data-src="images/ico-settings.png" ></span>
                  <span data-src="images/ico-settings-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                  <span data-src="images/ico-settings-small@2x.png" data-width="56" data-height="56" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                  <!--[if (lt IE 9) & (!IEMobile)]>
                    <span data-src="images/ico-settings.png.jpg"></span>
                  <![endif]-->
                  <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                  <noscript><img src="images/ico-settings.png" width="82" height="81" alt="image description" ></noscript>
                </span>
                <h2>Workshops</h2>
                <p>Workshops are one-off lessons that focus on a specific area of technology, like building a website or flying a drone with code.</p>
              </div>
              <div class="carousel">
                <header class="topic">
                  <strong class="title">Upcoming Workshops</strong>
                  <a href="#" class="hide">See All ></a>
                </header>
                <div class="mask">
                  <div class="slideset">
                    <div class="slide">
                      <a href="#" class="course-detail">
                        <span class="course-duration">1 Day / Workshop</span>
                        <h3>Build Your First Website</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <div class="time-wrap">
                          <time datetime="2014-08-03">Mon Aug 3</time> — <time datetime="2014-08-14">Fri Aug 14</time>
                        </div>
                        <em>Manhatten Campus</em>
                      </a>
                    </div>
                    <div class="slide">
                      <a href="#" class="course-detail">
                        <span class="course-duration">1 Day / Workshop</span>
                        <h3>Fly a Drone</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <div class="time-wrap">
                          <time datetime="2014-08-03">Mon Aug 3</time> — <time datetime="2014-08-14">Fri Aug 14</time>
                        </div>
                        <em>Dalton School</em>
                      </a>
                    </div>
                    <div class="slide">
                      <a href="#" class="course-detail">
                        <span class="course-duration">1 Day / Workshop</span>
                        <h3>Consectetur Adipisicing Tempor </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <div class="time-wrap">
                          <time datetime="2014-08-03">Mon Aug 3</time> — <time datetime="2014-08-14">Fri Aug 14</time>
                        </div>
                        <em>Greenwich Academy</em>
                      </a>
                    </div>
                  </div>
                </div>
                <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                </ul>
                <footer class="course-footer">
                  <a href="#" class="btn-browse">Browse all Workshops</a>
                </footer>
              </div>
            </div>
          </div>
          <a href="#" class="btn-request">Request More Information ABout our Courses</a>
        </div>
        <div class="works">
          <div class="image-wrapper">
            <span data-picture data-alt="image description">
              <span data-src="images/img02.jpg" ></span>
              <span data-src="images/img02-small.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
              <span data-src="images/img02-small@2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
              <!--[if (lt IE 9) & (!IEMobile)]>
                <span data-src="images/img02.jpg"></span>
              <![endif]-->
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript><img src="images/img02.jpg" width="800" height="849" alt="image description" ></noscript>
            </span>
            <div class="caption">
              <div class="holder">
                <div class="frame">
                  <p>What You Will Build</p>
                </div>
              </div>
            </div>
          </div>
          <div class="work-info">
            <article class="work-article">
              <span data-picture data-alt="image description">
                <span data-src="images/ico-app.png" ></span>
                <span data-src="images/ico-app-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                <span data-src="images/ico-app-small@2x.png" data-width="69" data-height="49" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                <!--[if (lt IE 9) & (!IEMobile)]>
                  <span data-src="images/ico-app.png.png"></span>
                <![endif]-->
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript><img src="images/ico-app.png" width="99" height="70" alt="image description" ></noscript>
              </span>
              <div class="description">
                <h4>Web Apps</h4>
                <p>Use the web's most popular technologies like JavaScript and Ruby on Rails to build something real.</p>
              </div>
            </article>
            <article class="work-article">
              <span data-picture data-alt="image description">
                <span data-src="images/ico-community.png" ></span>
                <span data-src="images/ico-community-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                <span data-src="images/ico-community-small@2x.png" data-width="72" data-height="66" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                <!--[if (lt IE 9) & (!IEMobile)]>
                  <span data-src="images/ico-community.png.png"></span>
                <![endif]-->
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript><img src="images/ico-community.png" height="93" width="102" alt="image description" ></noscript>
              </span>
              <div class="description">
                <h4>Community</h4>
                <p>Code isn't just for people who like math. Join a community of students from all kinds of backgrounds.</p>
              </div>
            </article>
            <article class="work-article">
              <span data-picture data-alt="image description">
                <span data-src="images/ico-tech.png" ></span>
                <span data-src="images/ico-tech-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                <span data-src="images/ico-tech-small@2x.png" data-width="77" data-height="53" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                <!--[if (lt IE 9) & (!IEMobile)]>
                  <span data-src="images/ico-tech.png.png"></span>
                <![endif]-->
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript><img src="images/ico-tech.png" height="75" width="110" alt="image description" ></noscript>
              </span>
              <div class="description">
                <h4>A future in tech</h4>
                <p>Take the skills that are powering our future with you to college and beyond.  </p>
              </div>
            </article>
          </div>
        </div>
      </section>
      <!-- instruction block -->
      <section id="instructor-block">
        <h1>Meet the Instructors</h1>
        <article class="instructor-detail">
          <div class="image-holder">
            <span data-picture data-alt="image description">
              <span data-src="images/img03.jpg" ></span>
              <span data-src="images/img03-small.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
              <span data-src="images/img03-small@2x.jpg" data-width="95" data-height="95" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
              <!--[if (lt IE 9) & (!IEMobile)]>
                <span data-src="images/img03.jpg"></span>
              <![endif]-->
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript><img src="images/img03.jpg" width="219" height="219" alt="image description" ></noscript>
            </span>
          </div>
          <div class="instructor-detail-r">
            <div class="instructor-info">
              <div class="info">
                <strong class="name">Victoria Friedman</strong>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque. laudantium, totam rem </p>
                </div>
                <ul class="social-networks">
                  <li><a class="twitter" href="#"><em>@vicfriedman</em></a></li>
                  <li><a class="github" href="mailto:&#118;&#105;&#099;&#102;&#114;&#105;&#101;&#100;&#109;&#097;&#110;&#046;&#103;&#105;&#116;&#104;&#117;&#098;&#046;&#105;&#111;"><em>&#118;&#105;&#099;&#102;&#114;&#105;&#101;&#100;&#109;&#097;&#110;&#046;&#103;&#105;&#116;&#104;&#117;&#098;&#046;&#105;&#111;</em></a></li>
                </ul>
              </div>
            </div>
        </article>
        <article class="instructor-detail">
          <div class="image-holder">
            <span data-picture data-alt="image description">
              <span data-src="images/img04.jpg" ></span>
              <span data-src="images/img04-small.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
              <span data-src="images/img04-small@2x.jpg" data-width="95" data-height="95" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
              <!--[if (lt IE 9) & (!IEMobile)]>
                <span data-src="images/img04.jpg"></span>
              <![endif]-->
              <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
              <noscript><img src="images/img04.jpg" height="219" width="219" alt="image description" ></noscript>
            </span>
          </div>
          <div class="instructor-detail-r">
            <div class="instructor-info">
              <div class="info">
                <strong class="name">Danny Fenjves</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ullamco laboris nisi ut aliquip ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
              </div>
              <ul class="social-networks">
                <li><a class="twitter" href="#"><em>@dfenjves</em></a></li>
                <li><a class="github" href="mailto:&#100;&#102;&#101;&#110;&#106;&#118;&#101;&#115;&#046;&#103;&#105;&#116;&#104;&#117;&#098;&#046;&#105;&#111;"><em>&#100;&#102;&#101;&#110;&#106;&#118;&#101;&#115;&#046;&#103;&#105;&#116;&#104;&#117;&#098;&#046;&#105;&#111;</em></a></li>
              </ul>
            </div>
          </div>
        </article>
      </section>
      <!-- review block -->
      <section id="review-block">
        <h1>Reviews</h1>
        <div class="carousel2">
          <div class="mask2">
            <div class="slideset2">
              <div class="slide2">
                <div class="slide-content">
                  <span data-picture data-alt="image description">
                    <span data-src="images/img05.jpg" ></span>
                    <span data-src="images/img05-small.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                    <span data-src="images/img05-small@2x.jpg" data-width="125" data-height="125" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                    <!--[if (lt IE 9) & (!IEMobile)]>
                      <span data-src="images/img05.jpg"></span>
                    <![endif]-->
                    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                    <noscript><img src="images/img05.jpg" height="250" width="250" alt="image description" ></noscript>
                  </span>
                  <p>I never thought I could learn to code. At the end of Flatiron, I could read others’ code and write my own! I will definitely use this at college.</p>
                  <strong class="name">Jenny Horing</strong>
                  <span class="info">Harvard class of 2018</span>
                </div>
              </div>
              <div class="slide2">
                <div class="slide-content">
                  <span data-picture data-alt="image description">
                    <span data-src="images/img06.jpg" ></span>
                    <span data-src="images/img06-small.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                    <span data-src="images/img06-small@2x.jpg" data-width="125" data-height="125" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                    <!--[if (lt IE 9) & (!IEMobile)]>
                      <span data-src="images/img06.jpg"></span>
                    <![endif]-->
                    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                    <noscript><img src="images/img06.jpg" height="250" width="250" alt="image description" ></noscript>
                  </span>
                  <p>I have never seen Julia more excited to get up every morning to go to school. Flatiron has opened up an entire new world for her.</p>
                  <strong class="name">Hope Taitz</strong>
                  <span class="info">Mom of Julia Taitz</span>
                </div>
              </div>
            </div>
          </div>
        <div class="pagination2">
          <!-- pagination generated here -->
        </div>
      </div>
      </section>
      <!-- partner block -->
      <section id="partner-block">
        <div class="partner-block-t">
          <h1>Partners</h1>
          <ul>
            <li>
              <a href="#">
                <span data-picture data-alt="THE DALTON SCHOOL FOUNDED 1919 GO FORTH UNAFRANID">
                  <span data-src="images/logo01.png" ></span>
                  <span data-src="images/logo01-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                  <span data-src="images/logo01-small@2x.png" data-width="63" data-height="64" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                  <!--[if (lt IE 9) & (!IEMobile)]>
                    <span data-src="images/logo01.png.png"></span>
                  <![endif]-->
                  <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                  <noscript><img src="images/logo01.png" height="133" width="134" alt="THE DALTON SCHOOL FOUNDED 1919 GO FORTH UNAFRANID" ></noscript>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span data-picture data-alt="Google">
                  <span data-src="images/logo02.png" ></span>
                  <span data-src="images/logo02-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                  <span data-src="images/logo02-small@2x.png" data-width="90" data-height="31" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                  <!--[if (lt IE 9) & (!IEMobile)]>
                    <span data-src="images/logo02.png.png"></span>
                  <![endif]-->
                  <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                  <noscript><img src="images/logo02.png" height="75" width="218" alt="Google" ></noscript>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span data-picture data-alt="GREENWICH ACADEMY">
                  <span data-src="images/logo03.png" ></span>
                  <span data-src="images/logo03-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                  <span data-src="images/logo03-small@2x.png" data-width="105" data-height="45" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                  <!--[if (lt IE 9) & (!IEMobile)]>
                    <span data-src="images/logo03.png.png"></span>
                  <![endif]-->
                  <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                  <noscript><img src="images/logo03.png" height="133" width="134" alt="GREENWICH ACADEMY" ></noscript>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span data-picture data-alt="Scripted">
                  <span data-src="images/logo04.png" ></span>
                  <span data-src="images/logo04-small.png" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
                  <span data-src="images/logo04-small@2x.png" data-width="84" data-height="33" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
                  <!--[if (lt IE 9) & (!IEMobile)]>
                    <span data-src="images/logo04.png"></span>
                  <![endif]-->
                  <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                  <noscript><img src="images/logo04.png" height="133" width="134" alt="Scripted" ></noscript>
                </span>
              </a>
            </li>
          </ul>
          <a href="#" class="btn-request hide">Request More Information ABout our Courses</a>
        </div>
        <div class="newsletter-block">
          <span data-picture data-alt="image description">
            <span data-src="images/img07.jpg" ></span>
            <span data-src="images/img07-small.jpg" data-media="(max-width:767px)" ></span> <!-- retina 1x mobile -->
            <span data-src="images/img07-small@2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span> <!-- retina 2x mobile -->
            <!--[if (lt IE 9) & (!IEMobile)]>
              <span data-src="images/img07.jpg"></span>
            <![endif]-->
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript><img src="images/img07.jpg" height="807" width="1600" alt="image description" ></noscript>
          </span>
          <div class="newsletter-content">
            <div class="holder">
              <div class="frame mail-message">
                <div class="entry-block info-block">
                  <h2>Sign up to our Newsletter</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                  <form action="#" class="sign-up-form form-validate">
                    <fieldset>
                                            <div class="form-item">
                          <input type="email" data-validate="required-email" placeholder="Your Email">
                                            </div>
                      <input type="submit" value="Sign Up">
                    </fieldset>
                  </form>
                </div>
                <div class="thankyou-block thank-block">
                  <h2>Thank You</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- footer of the page -->
    <div id="footer">
      <div class="footer-t">
        <a href="#" class="btn-top">Back to top</a>
      </div>
      <!-- four cols -->
      <div class="four-cols">
        <div class="col">
          <a href="#" class="text-flatiron">Flatiron School</a>
        </div>
        <div class="col blank">&nbsp;</div>
        <div class="col">
          <address>
            <strong class="title">Contact</strong>
            <div class="address">
              11 Broadway, Suite 260 <br> New York, NY 10004
            </div>
            <span><em>P</em> <a href="tel:3477297911" class="tel">(347) 729-7911</a></span>
            <span ><em>E</em> <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#108;&#097;&#116;&#105;&#114;&#111;&#110;&#115;&#099;&#104;&#111;&#111;&#108;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#102;&#108;&#097;&#116;&#105;&#114;&#111;&#110;&#115;&#099;&#104;&#111;&#111;&#108;&#046;&#099;&#111;&#109;</a></span>
          </address>
        </div>
        <div class="col">
          <div class="form-wrap mail-message">
            <strong class="title info-block">Subscribe</strong>
            <!-- subscribe form -->
            <form action="#" class="subscribe-form info-block form-validate">
              <fieldset>
                <div class="form-item">
                                    <input type="email" data-validate="required-email" placeholder="YOUR EMAIL">
                </div>
                <input type="submit" value="SUBSCRIBE">
              </fieldset>
            </form>
            <span class="thank-you thank-block">Thank you!</span>
          </div>
        </div>
      </div>
      <div class="footer-b">
        <!-- social networks -->
        <ul class="social-networks">
          <li><a href="#" class="twitter"><span class="icon-twitter"></span></a></li>
          <li><a href="#" class="facebook"><span class="icon-facebook"></span></a></li>
          <li><a href="#" class="instagram"><span class="icon-instagram"></span></a></li>
          <li><a href="#" class="linkedin"><span class="icon-linkedin"></span></a></li>
          <li><a href="#" class="github"><span class="icon-github"></span></a></li>
        </ul>
        <div class="footer-r">
          <span class="copyright">&copy;2015 The Flatiron School</span>
          <span>ALL YOUR RIGHTS ARE BELONG TO US</span>
          <span>Made in <a href="#">Nyc</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- include jQuery library -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.2min.js"><\/script>')</script>
  <!-- include custom JavaScript -->
  <script type="text/javascript" src="js/jquery.main.js"></script>
  <script src="//use.typekit.net/tbu7eho.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</body>
</html>
